nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgba(217, 217, 217, 4%);
    color: white;
}

nav .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav .nav-left .logo img {
    width: 150px;
    /* height: 40px; */
}

nav .nav-left .menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav .nav-left .menu a {
    text-decoration: none;
    color: white;
}

nav .nav-left .menu li {
    background-color: rgba(217, 217, 217, 6%);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav .nav-left .menu li.active {
    background-color: rgb(43 80 108 / 86%);
}


nav .nav-right .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    font-size: 1.7rem;
}

nav .nav-right .social-media a {
    text-decoration: none;
    color: white;
}

nav .nav-right .social-media li {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}


/* Media Query */


@media screen and (max-width: 650px) {

    nav {
        padding: 10px;
    }

    nav .nav-right {
        display: none;
    }

    nav .nav-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    nav .nav-left .logo img {
        width: 80px;
    }

    nav .nav-left .menu li {
        padding: 5px;
    }

    nav .nav-left .menu {
        gap: 10px;
        list-style: none;
    }
}