@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  background-color: #20304F;
  background: linear-gradient(90deg, rgba(32, 48, 79, 1) 37%, rgba(33, 33, 85, 1) 67%, rgba(8, 18, 79, 1) 100%);
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}


@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}